
section, footer, .workpage__heading {
    max-width: 80%;
    margin-top: 60px;
}


  /*    heading      */

  .workpage__heading {
    text-align: center;
    font-size: 60px;
    color: #403227;
    font-family: 'Outfit', sans-serif;
}

@media only screen and (max-width: 600px) {

    .workpage__heading {
        font-size: 34px;
    }
  }


/* gallery */

.gallery__wrapper {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.gallery__img {
    width: 525px;
    height: 363px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.7s;

}
  
.gallery__img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

@media only screen and (max-width: 1090px) {

    .gallery__wrapper {
        grid-template-columns: repeat(1,1fr);
    }
  }

@media only screen and (max-width: 600px) {
    
    .gallery__img {
        width: 288px;
        height: 202px;
    }
       
  }


/* description */

.description__text {
    max-width: 1200px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    max-width: 1200px;
}

@media only screen and (max-width: 600px) {
    .description__text {
        font-size: 14px;
    }
}



/* links */

.links__link, links__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #403227;
    cursor: pointer;
    transition: all 0.3s;
}

.links__link:hover {
    transform: scale(2);
}

.link__append {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    fill: #403227;
}

